-- CreateEnum
CREATE TYPE "ChannelShareMode" AS ENUM ('PRIVATE', 'GROUP', 'PUBLIC');

-- CreateEnum
CREATE TYPE "ChannelShareUrgency" AS ENUM ('NORMAL', 'HIGH', 'FLUSH');

-- AlterEnum
ALTER TYPE "BalanceTxType" ADD VALUE 'CHANNEL_REVENUE';

-- AlterTable
ALTER TABLE "Channel" ADD COLUMN     "shareFeeBps" INTEGER,
ADD COLUMN     "shareMode" "ChannelShareMode" NOT NULL DEFAULT 'PRIVATE',
ADD COLUMN     "shareQuotaCostUsd" DECIMAL(18,6),
ADD COLUMN     "shareQuotaRequests" INTEGER,
ADD COLUMN     "shareUntil" TIMESTAMP(3),
ADD COLUMN     "shareUrgency" "ChannelShareUrgency" NOT NULL DEFAULT 'NORMAL',
ADD COLUMN     "shareUsedCostUsd" DECIMAL(18,6) NOT NULL DEFAULT 0,
ADD COLUMN     "shareUsedRequests" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "RequestLog" ADD COLUMN     "channelRevenue" DECIMAL(18,6) NOT NULL DEFAULT 0;

